<div class="modal-overlay" *ngIf="isOpen" (click)="onBackdropClick($event)">
  <div class="modal-container">
    <div class="modal-header">
      <h2 class="modal-title">{{ modalTitle }}</h2>
      <button class="modal-close" (click)="onClose()" type="button" aria-label="Cerrar modal">
        <span class="close-icon">&times;</span>
      </button>
    </div>
    
    <div class="modal-content">
      <div class="modal-intro">
        <p>{{ modalIntro }}</p>
      </div>
      
      <div class="modal-subtitle">
        <p>{{ modalSubtitle }}</p>
      </div>
      
      <div class="modal-points">
        <ol class="points-list">
          <li *ngFor="let point of modalPoints" class="point-item">
            {{ point }}
          </li>
        </ol>
      </div>
    </div>
    
    <div class="modal-footer">
      <button class="modal-button modal-button--primary" (click)="onAgree()" type="button">
        {{ agreeButtonText }}
      </button>
    </div>
  </div>
</div>
